body {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    font-size: 100%;
  }
  #contenedor {
     display: flex;
     flex-flow: row wrap;
     align-items: center;
  justify-content: center;
  }

  .boton {
      text-align: center;
      flex: 1;
      padding: 2em;
      font-size: 2em;
      color: #333;
      /* min-width: 100px; */
      max-width: 100px;
      
  }

  .boton:hover {
      background-color: lightgray;
      
  }
  .boton img{
    display: block;
    width: 100%;
    height: auto;
  }
